.hero-box {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.35),rgba(28, 28, 28, 0.35)), url("https://spoonacular.com/application/frontend/images/wallpaper1.jpg") center no-repeat;
  background-size: cover;
  height: 450px;

}
